@import "~bootstrap/scss/bootstrap";

$purpleColor: #6f42c1;
$softPurpleColor: #9663f3;

html,
body {
  height: 100%;
  background-color: $gray-700
}

#root {
    height: 100%;
}

.background {
    & .content-container {
        margin-top: -100px;
        background-color: $gray-800;
        height: 100%;
        
        > .content {
            color: white;
            margin-top: 150px;
            margin-left: 2rem;

            .purple-text {
                color: $softPurpleColor;
            }

            .par {
                margin-top: 20px;
            }
        }
    }
}


.title-container {
    color: white;
    margin: 10px;

    > h1 {
        font-size: 5.5rem;
    }
    
    > p {
        font-size: 2rem;
    }
}

.header-background {
    box-shadow: 0 0 5rem rgba(0, 0, 0, .5);

    // background-color: $purple;
    padding-bottom: 60px;
    border-radius: 0 0 100% 100%/20px;

    
    z-index: 1;
    // https://heropatterns.com/
    background-color: $purpleColor;
    background-image: url(../background.svg);
}